
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

/* Estilo do header*/

header {
  position: fixed;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #fafafa;
  top: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}

.logo_1 {
  width: 90px;
  height: 90px;
}

.logo {
  font-size: 2rem;
  display: flex;
  height: 30px;
  align-items: center;
  margin-top: 10px;
}

.logo:hover {
  cursor: pointer;
}

.logo h1{
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 0.5rem;
}

a, .btn {
  transition: all 300ms ease;
}

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;

}

nav span{
  display: flex;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  font-size: 0.9rem;
}

 a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

 .menu-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/*Botão admin*/

.btn-admin {
  background-color: #306865;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  color:  #fff;
  margin-top: 10px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.btn-admin:hover {
  opacity: 0.9;
}

/* Menu hamburger */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  margin-top: 1rem;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease;
}

.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -1000px;
  background-color: white;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: left;
  font-size: 1.rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  top: 0;
}

/* Botões */

.btn {
  font-weight: 200;
  transition: all 300ms ease;
  padding: 0.6rem;
  width: 95%;
  border-radius: 1rem;
  border: rgba(190, 185, 185, 0.918) 0.1rem solid;
  background-color: #306865;
  cursor: pointer;
}


/* Formulário */

#formLogin{
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 400px;
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  padding: 17px;
  gap: 0.5rem;
}

input {
  display: flex;
  width: 95%;
  padding: 5px;
  margin: 8px 0;
  border: none;
  outline: none;
}

/* div-input */

.input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  width: 95%;
}

.input i {
  color: #306865;
}

.text-center { 
  text-align: center;
  margin-bottom: 0.5rem;
}

.fa-user-shield { 
  color: #1a365d; 
  font-size: 5rem;
  margin-bottom: 1.3rem;
}

.form-container p{
  text-align: left;
  padding: 0.7rem;
  font-size: 0.8rem;
}

.credenciais h3{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}

.credenciais p span{
  background-color: #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

.credenciais p{
  font-size: 0.8rem;
}


/* Ajuste para telas menores */

@media screen and (max-width: 800px) {

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  input {
   display: flex;
    width: 95%;
    padding: 5px;
    margin: 8px 0;
    border: none;
    outline: none;
  }

  #desktop-nav {
    display: none;
  }
  
  #hamburger-nav {
    display: flex;
  }
  #formLogin{
    width: 500px;
    margin: 2rem 2rem;
  }
}