
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
  }

/* Estilo do header*/

header {
  position: fixed;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #fafafa;
  top: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}

.logo {
  display: flex;
  height: 30px;
  align-items: center;
  margin-top: 10px;
}

.logo h1{
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 0.5rem;
}

a, .btn {
  transition: all 300ms ease;
}

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;

}

nav span{
  display: flex;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  font-size: 0.9rem;
}

 a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.menu-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: pointer;
}

.btn-admin {
  background-color: #306865;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  margin-top: 12px;
  cursor: pointer;
}

/* Menu hamburger */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  margin-top: 1rem;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease;
}

.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -1000px;
  background-color: white;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: left;
  font-size: 1.rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  top: 0;
}

/* Dashboard */

#dashboard{
  margin: 2rem 1rem;
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.admin-filters {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
}

.admin-actions{
  display: flex;
}

.admin-filters input, .admin-filters select {
  font-size: 0.8rem;
  padding: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #7b7c7c;
  border-radius: 6px;
}

.table-responsive {
  overflow-x: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: left;
  font-weight: 500;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.6rem;
  font-weight: bold;
}

.badge.pendente {
  background: orange; 
  color: white; 
}

.badge.aprovado { 
  background: green; 
  color: white; 
}

.badge.reprovado { 
  background: red; 
  color: white; 
}

.action-btns {
  display: flex;
  gap: 8px;
}


.btn-danger, .action-btn {
  padding: 8px;
  border-radius: 4px;
  border: none;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  margin-left: 0.3rem;
  cursor: pointer;

}

.btn-file {
  padding: 10px;
  border-radius: 4px;
  border: none;
  border-radius: 10px;
  background-color: goldenrod;
  margin-left: 0.3rem;
  cursor: pointer;

}

.btn-file, .btn-danger i{
  font-size: 0.7rem;
}

/*Ajuste para telas menores */

@media screen and (max-width: 800px) {

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

 .admin-filters input, .admin-filters select {
   font-size: 0.5rem;
   padding: 0.4rem;
 }

 .btn-danger{
  padding: 5px;
 }

 .btn-file{
  padding: 6px;
 }
}