
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  height: 105vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo do header*/

header {
  position: fixed;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #fafafa;
  top: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}

.logo_1 {
  width: 90px;
  height: 90px;
}

.logo {
  display: flex;
  height: 30px;
  align-items: center;
  font-size: 2rem;
  margin-top: 10px;
}

.logo:hover {
  cursor: pointer;
}

.logo h1{
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 0.5rem;
}

a, .btn {
  transition: all 300ms ease;
}

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;

}

nav span{
  display: flex;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  font-size: 0.9rem;
}

 a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.menu-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* Botão do admin */

.btn-admin {
  background-color:  #306865;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* Menu hamburger */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  margin-top: 1rem;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease;
}

.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -1000px;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: left;
  font-size: 1.rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  top: 0;
}

/* Botões */

.btn {
  font-weight: 200;
  transition: all 300ms ease;
  padding: 0.6rem;
  width: 95%;
  border-radius: 0.7rem;
  margin-top: 10px;
  border: rgba(190, 185, 185, 0.918) 0.1rem solid;
  background-color: #306865;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  border: rgb(49, 47, 47) 0.1rem solid;
}

/* Formulario */

.form-container h2{
  font-weight: 400;
  padding: 2px;
}

.form-container p{
  text-align: left;
  font-weight: 400;
  font-size: 0.9rem;
  padding: 7px;
  color: #504f4f;
}

#formInscricao{
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-right: 5rem;
  padding: 17px;
  gap: 0.5rem;
}

input {
  width: 95%;
  padding: 5px;
  margin: 10px 0;
  border: none;
  padding-left: 5px;
  outline: none;
}

select {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* div-input */

.input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 95%;
}

.input i{
  color: #306865;
  margin-left: 0.4rem;
}

/*Ficheiro input*/

#ficheiro {
  display: none;
}

.file-label {
  border: 1px gainsboro dashed;
  width: 95%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.file-label span {
  display: block;
  width: 100%;
  border: solid 1px gainsboro;
  padding: 7px;
  border-radius: 7px;
  background-color: rgb(37, 37, 37);
  color: white;
  font-weight: 400;
  cursor: pointer;
}

/*Ajuste para telas menores */

@media screen and (max-width: 1200px) {
  
  .container-image{
    display: none;
  }

}

@media screen and (max-width: 800px) {

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  #formInscricao{ 
    margin: 50px 5%;
  }

  #desktop-nav {
    display: none;
  }
  
  #hamburger-nav {
    display: flex;
  }
}