
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

/* Estilo do header*/

header {
  position: fixed;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #fafafa;
  top: 0;
  z-index: 999;
  border-bottom: 1px solid rgba(128, 128, 128, 0.178);
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
}

.logo_1 {
  width: 100px;
  height: 100px;
}

.logo {
  display: flex;
  height: 30px;
  align-items: center;
  margin-top: 10px;
  font-size: 2rem;
}

.logo:hover {
  cursor: pointer;
}

.logo h1{
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 0.5rem;
}

p {
  color: #000;
  font-weight: 600;
}

a, .btn {
  transition: all 300ms ease;
}

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;

}

nav span{
  display: flex;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  justify-content: space-around;
}

a, li {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
  font-size: 0.9rem;
  list-style: none;
}

 a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

 .menu-links a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.btn-admin {
  background-color:  #306865;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* Menu hamburger */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  width: 25px;
  margin-top: 1rem;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease;
}

.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -1000px;
  background-color: white;
  overflow: hidden;
  transition: all 0.9s ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: left;
  font-size: 1.rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  top: 0;
}

/* Botões */

.btn {
  font-weight: 200;
  padding: 0.4rem;
  width: 7rem;
  border: none;
  border-radius: 2rem;
  margin-top: 10px;
  background-color: #306865;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #306865b6;
}

.btn_2 {
  font-weight: 500;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1.3rem;
  margin-top: 4px;
  background-color: #306865;
  color: #fff;
  outline: none;
  cursor: pointer;
  opacity: 0;
  transform: translateY(10px);
  animation: entrada 1s ease forwards;
}

/*Estilo Global Das Seções*/

section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}


/* Estilos Das Seções */

#home {
  position: relative;
  padding: 10rem 0.9rem;
  margin-top: 4rem;
}

#home::before{
  border-radius: 10px;
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.301);
  z-index: 1;
}

.section__text{
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 100;
  width: 100%;
}

.section__text .title_1 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
}
 
.section__text p {
  text-align: justify;
  margin: auto;
  width: 70%;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.title_1{
  opacity: 0;
  transform: translateY(20px);
  filter: blur(2px);
  animation: entrada 0.8s ease-in-out forwards;
}

.paragrafo{
  opacity: 0;
  transform: translateY(10px);
  animation: entrada 1s ease forwards;
}

@keyframes entrada {
  to{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

/*Segunda Seção*/

#section-escola {
  height: 60%;
}

#section-escola h1{
  text-align: center;
  font-weight: 450;
  margin-bottom: 1.5rem;
  color: #000;
}

#section-escola h2{
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #000;
}

#section-escola p{
  font-weight: 400;
  font-size: 1.1rem;
  color: #000;
  margin-bottom: 0.6rem;
}

/* Estilo da Segunda seção*/

.exame-section{
  height: 60%;
}

.exame-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr ));
  text-align: center;
  gap: 10px;
}

.exame-card {
  background: white;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(15, 15, 15, 0.356);
}

.exame-card h3{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.exame-card i{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #306865;
}

.exame-card p{
  font-size: 0.8rem;
  text-align: left;
}

/* Estilo da Terceira Seção*/

#section-curso {
  height: 60%;
  padding: 1rem;
  background-color: #306865;
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 700;
  height: 70%;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr ));
  gap: 10px;
}

.course-card {
  background: white;
  border-radius: 12px;
  box-shadow: 5px 5px 15px rgba(179, 174, 174, 0.514);
}

.course-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.course-info {
  padding: 20px;
}

.course-info h3 {
  margin-bottom: 10px;
  color: #1a365d;
}

.course-info p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 1rem;
}

/* Footer */

footer {
  padding: 60px 20px;
  background: #306865;
}

.footer-container{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-content {
  flex: 1 1 250px;
}

.footer-content h1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color:white;
}

.footer-content P{
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

.icones {
  display: flex;
  gap: 1rem;
}

.icones img{
  width: 30px;
  cursor: pointer;
}

.footer-content ul, li{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-content  ul li a {
  font-size: 1rem;
  color: #fff;
}

.p-reservado{
  color: #fff;
  font-weight: 300;
}

.footer-social p{
  font-size: 0.9rem;
}

@media screen and (max-width: 800px) {
 
  #home {
    margin: auto auto;
    margin-top: 3.5rem;
    width: 100%;
    height: 500px;
  }

.section__text{
  text-align: center;
  height: 250px;
}

.section__text .title_1 {
  font-size: 1.3rem;
  margin-bottom: 0.8rem;
}
 
.section__text p {
  width: 75%;
  color: #fff;
  font-size: 0.8rem;
}

  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
}

